:root {
  --font--sans: "Operator Mono Light", "LXGW WenKai";
  --font--serif: Lyon-Text, Georgia, ui-serif, serif;
  --font--mono: iawriter-mono, Nitti, Menlo, Courier, monospace;
  --font--code: "Operator Mono Light", "LXGW WenKai";
  --font--math: KaTeX_Main, Times New Roman, serif;
  --font--quotes: "Operator Mono Light", "LXGW WenKai";
  --font--headings: "Operator Mono Light", "LXGW WenKai";
}

/* 正文样式 */
[style*="Segoe UI"] {
  font-family: var(--font--sans) !important;
}

[style*="Georgia"] {
  font-family: var(--font--serif) !important;
}

[style*="iawriter-mono"] {
  font-family: var(--font--mono) !important;
}

/* 代码样式 */
[style*="SFMono-Regular"] {
  font-family: var(--font--code) !important;
  font-size: 95% !important;
}

/* 引用样式 */
.notion-quote-block {
  font-family: var(--font--quotes) !important;
}

/* 公式样式 */
.katex,
.katex * {
  font-family: var(--font--math) !important;
}

/* 页面字体大小 */
.notion-page-content {
  font-size: 15px !important;
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font--headings) !important;
  position: relative; /* 使伪元素相对于标题定位 */
}

/* 标题间距 */
.notion-header-block {
  margin-top: 1em !important;
}
.notion-sub_header-block {
  margin-top: 0.8em !important;
}
.notion-sub_sub_header-block {
  margin-top: 0.5em !important;
}

/* 标题标识样式 */
h2::before {
  content: "\f0c9"; /* 标识符号 */
  font-size: 1rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: rgb(170, 170, 170);
  position: absolute;
  left: -15px; /* 距离标题左侧的距离 */
  top: 50%; /* 垂直居中起点 */
  transform: translateY(-50%); /* 精确垂直居中 */
}
h3::before {
  content: "\3d";
  font-size: 1rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: rgb(170, 170, 170);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
h4::before {
  content: "\f068";
  font-size: 1rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: rgb(170, 170, 170);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}

/* 页面内容宽度，页面居中 */
/* .layout {
  --content-width: minmax(auto, 1000px) !important;
  grid-template-columns: [full-start] 1fr [content-start] var(--content-width) [content-end] 1fr [full-end] !important;
} */
